# User created Dockerfiles
dockerfiles/default_dosh/*
!dockerfiles/default_dosh/demo

# Custom User created Dockerfiles
dockerfiles/custom_dosh/**
!dockerfiles/custom_dosh/.gitkeep

# User created Docker-compose files
custom-docker-compose.yaml
